<!DOCTYPE html>
<html>
<head>
    <%- include('./include/meta') %>
    <title>服务器出现问题请稍候重试</title>
    <%- include('./include/css') %>
</head>
<body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</body>
</html>
